* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

h1, h2, h3, p {
    font-family: Arial, Helvetica, sans-serif ;
}

h1 {
    font-size: 100px;
    font-weight: bold;
    color: khaki;
    text-align: center;
    background-image: url("./Pattern.jpeg") ;
    margin: 50px 10px;
}

div { 
    margin: 50px 10px;
}

.item h2 {
    font-size: 32px;
    font-weight: bold;
    color: white;
}


.price {
    font-weight: bold;
    color: blue;
    display: inline-block;
}

#brush {
    background-color: mediumspringgreen;
}

#frame {
    background-color: lightcoral;
}

#paint {
    background-color: skyblue;
}
